.konteiner {
    background-color: rgb(5, 209, 236);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.blokk {
    width: 150px;
    height: 150px;
    background-color: rgb(27, 27, 202);
    border-width: 1px;
    border-color: rgb(219, 88, 88);
    border-style: solid;
}