h1 {
    text-align: center;
}
html {
    font-size: 20px;
}

body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Rubik', sans-serif;
}

.konteiner {
background-color: rgb(90, 222, 211);s
}

.uudistevoog {
    
}

.uudis-pealkiri {
font-size: 1,5rem;
font-weight: bold;
}

.uudis-kuupäev {
    font-size: small;
    color: black;
    font-weight: lighter;
}